<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>MovieRental</title>

	<meta name="description" content="Movie Rental" />
	<meta name="keywords" content="movie, rental, rent, movie, cinema, reviews" />
	<!-- <link rel="stylesheet" href="css/signin.css"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
		<div class="login-box">
			<h1>Login</h1>
			<form action="login.php" name="signin" method="post">
			<div class="textbox">
				<i class="fas fa-user"></i>
				<input type="text" placeholder="Username" onfocus="this.placeholder=''" onblur="this.placeholder='Username'" name="username">
			</div>
			<div class="textbox">
				<i class="fas fa-lock"></i>
				<input type="password" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" name="password">
			</div>
			<input type="submit" class="btn" value="Sign in"><br>
			</form>
			<a href="#">Not a member? Sign up</a>
		</div>
</body>

</html>
