*, *:before, *:after
{
    box-sizing: border-box;
}

html
{
    overflow-y: scroll;
}

body
{
    background: #ffffff;
    font-family: 'Titillium Web', sans-serif;
}

a
{
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a:hover
{
    color: #179b77;
    cursor: pointer;
}

.form
{
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group
{
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after
{
    content: "";
    display: table;
    clear: both;
}

.tab-group li a
{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover
{
    background: #179b77;
    color: #ffffff;
    cursor: pointer;
}

.tab-group .active a
{
    background: #1ab188;
    color: #ffffff;
}

.tab-content > div:last-child
{
    display: none;
}

h1
{
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

h2
{
    text-align: center;
    color: #1ab188;
    font-weight: 1000;
    margin: 0;
}

span
{
    color: #1ab188;
    font-weight: bold;
}

p
{
    text-align: center;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
    padding-top: 2px;
}

div.info-alert
{
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

div.info-success
{
    color: lightgreen;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid darkcyan;
    background: #007a16;
}

label
{
    position: absolute;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 8px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req
{
    margin: 2px;
    color: #1ab188;
}

label.active
{
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
    top: -5px;
    font-size: 14px;
}

label.active .req
{
    opacity: 0;
}

label.highlight
{
    color: #ffffff;
}

input, textarea
{
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    background: none;
    background-image: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus
{
    outline: 0;
    border-color: #1ab188;
}

textarea
{
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap
{
    position: relative;
    margin-bottom: 40px;
}

.top-row:after
{
    content: "";
    display: table;
    clear: both;
}

.top-row > div
{
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child
{
    margin: 0;
}

.button
{
    font-family: 'Titillium Web', sans-serif;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus
{
    background: #179b77;
    cursor: pointer;
}

.button-block
{
    display: block;
    width: 100%;
}

.forgot
{
    margin-top: -20px;
    text-align: right;
}

.showpass
{
    margin-top: -20px;
    text-align: right;
}

.rememberme
{
    margin-left: 5px;
    margin-top: -20px;
    text-align: right;
}

.checkbox
{
    width: 25px;
    margin: -16px 120px;
    margin-bottom: 50px;
    position: relative;
}

.checkbox label
{
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -7px;
    left: 5px;
    background: #eee;
    border: 1px solid #565454;
}

.checkbox label:after
{
    opacity: 0.5;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 3px;
    left: 2px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.checkbox input[type=checkbox]:not(:checked):hover + label:after
{
    opacity: 1;
}

.checkbox input[type=checkbox]:checked + label:after
{
    opacity: 1;
}

th
{
    height: 80px;
    color: #179b77;
}

td
{
    height: 40px;
    color: #fff;
    text-align: center;
}

tr:nth-child(even)
{
    background-color: #3d5568;
}

#main_footer {
  padding: 2.5em 0;
  text-align: center; }
  #main_footer .logo {
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 700;
    color: #000000;}
    #main_footer .logo span {
      font-weight: 300;
      color: #1ab188; }
  #main_footer .copyright {
    color: #24313c;
    font-size: .75em;
    margin: 0; }
  #main_footer .links {
    display: inline; }
    #main_footer .links a {
      color: #24313c;
      font-size: .75em;
      text-decoration: none;
      margin: 0 .5em; }
      #main_footer .links a:hover {
        color: #1ab188; }
