<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto" rel="stylesheet">
    <title>MovieRental</title>
</head>

<body>
    <header>
        <h1 class="logo">MovieRental</h1>

        <nav id="topnav">
            <ul class="menu">
                <li><a href="#">Strona Główna</a></li>
                <li><a href="#">Pierwszy raz?</a></li>
                <li><a href="#">Dlaczego MovieRental?</a></li>
                <li><a href="#">O autorze</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <section>
                <div class="categories">
                    <header>
                        <h1>Witaj w świecie filmów!</h1>
                        <p>Czy jesteś fanem filmów? Lubisz świat kina? Jeśli tak, to zapraszam do przygotowanych propozycji filmowych.</p>
                    </header>
                    <div class="author">
                        <figure>
                            <a href="#"><img src="../../media/img/1.jpg" alt="Nietykalni" /></a>
                            <figcaption>Nietykalni</figcaption>
                        </figure>
                    </div>
                    <div class="author">
                        <figure>
                            <a href="#"><img src="../../media/img/2.jpg" alt="Zielona Mila" /></a>
                            <figcaption>Zielona Mila</figcaption>
                        </figure>
                    </div>
                    <div class="author">
                        <figure>
                            <a href="#"><img src="../../media/img/3.jpg" alt="Ojciec Chrzestny I" /></a>
                            <figcaption>Ojciec Chrzestny I</figcaption>
                        </figure>
                    </div>
                    <div class="author">
                        <figure>
                            <a href="#"><img src="../../media/img/4.jpg" alt="Forrest Gump" /></a>
                            <figcaption>Forrest Gump</figcaption>
                        </figure>
                    </div>
                    <div class="author">
                        <figure>
                            <a href="#"><img src="../../media/img/5.jpg" alt="Władca Pierścieni: Powrót Króla" /></a>
                            <figcaption>Władca Pierścieni: Powrót Króla</figcaption>
                        </figure>
                    </div>
                    <div class="author">
                        <figure>
                            <a href="#"><img src="../../media/img/6.jpg" alt="Pulp Fiction" /></a>
                            <figcaption>Pulp Fiction</figcaption>
                        </figure>
                    </div>
                </div>
            </section>
            <section id="newest">
                <div class="entries">
                    <header>
                        <h1>Najnowsze filmy</h1>
                        <p>Poniżej znajdziesz trzy ostatnio publikowane filmy - dzięki temu łatwo można sprawdzić, czy na stronie pojawiło sie coś nowego.</p>
                    </header>
                    <div class="entry">
                        <div class="entryimg">
                            <img src="../../media/img/1.jpg" alt="Nietykalni" />
                        </div>
                        <div class="entrytxt">
                            <h2>Nietykalni</h2>
                            <p>Paryż nocą. Driss prowadzi luksusowe Maserati Philippe’a z dużą prędkością. Są ścigani przez policję. Driss twierdzi, że sparaliżowany Philippe musi być pilnie przewieziony do szpitala; Philippe udaje, że ma udar
                                mózgu. Zwiedzeni funkcjonariusze eskortują ich do szpitala. Historia przyjaźni dwóch mężczyzn opowiedziana w formie retrospekcji: Philippe, dotknięty porażeniem czterokończynowym bogaty arystokrata z Paryża i jego
                                asystentka, przeprowadzają rozmowy kwalifikacyjne w poszukiwaniu kandydata na stanowisko samodzielnego, całodobowego opiekuna dla Philippe’a.</p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="entryimg">
                            <img src="../../media/img/2.jpg" alt="Zielona Mila" />
                        </div>
                        <div class="entrytxt">
                            <h2>Zielona Mila</h2>
                            <p>Pewnego dnia na oddział trafia olbrzymi, czarnoskóry John Coffey, oskarżony o zamordowanie dwóch białych dziewczynek. Coffey okazuje się łagodnym olbrzymem, bojącym się ciemności i czasem płaczącym. Niedługo ujawnia
                                swe niezwykłe zdolności uzdrawiające przez wyleczenie Paula Edgecomba z zapalenia pęcherza moczowego oraz ożywienie myszy. Percy Wetmore jest wrednym, sadystycznym strażnikiem lubiącym sprawiać cierpienie innym.</p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="entryimg">
                            <img src="../../media/img/3.jpg" alt="Ojciec Chrzestny I" />
                        </div>
                        <div class="entrytxt">
                            <h2>Ojciec Chrzestny I</h2>
                            <p>USA, koniec II wojny światowej. Szefem nowojorskiej mafii jest sędziwy Don Vito Corleone, a jego pomocnikami są synowie: Sonny i Fredo oraz inteligentny i rozważny Irlandczyk, Tom Hagen. Trzeci syn Vito, Michael,
                                absolwent wyższej uczelni, jest przeciwny działalności ojca. Pewnego dnia rodzina Corleone, odmawiając udziału w dystrybucji narkotyków, staje się niepotrzebną przeszkodą dla innych mafii. Dochodzi do nieudanego
                                zamachu na Dona Corleone, a następnie do "wielkiej wojny" nowojorskich gangów, w której niespodziewanie odegra kluczową rolę Michael.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="contact">
                    <header>
                        <h1>Kontakt</h1>
                        <p>Jeśli masz ochotę podyskutować, zaproponować temat lub nawiązać współpracę reklamową - zapraszam do kontaktu.</p>
                    </header>
                    <a href="#" class="bluebutton">Nawiązanie współpracy</a>
                </div>
            </section>
        </article>
    </main>
    <footer>
        <div class="socials">
            <div class="socialdivs">
                <div class="fb">
                    <i class="icon-facebook"></i>
                </div>
                <div class="yt">
                    <i class="icon-youtube"></i>
                </div>
                <div class="tw">
                    <i class="icon-twitter"></i>
                </div>
                <div class="gplus">
                    <i class="icon-gplus"></i>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="info">
            Wszelkie prawa zastrzeżone &copy 2018
        </div>
    </footer>
</body>

</html>
