<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto" rel="stylesheet">
    <title>MovieRental</title>
</head>

<body>
    <header>
        <h1 class="logo">MovieRental</h1>

        <nav id="topnav">
            <ul class="menu">
                <li><a href="#">Strona Główna</a></li>
                <li><a href="#">Pierwszy raz?</a></li>
                <li><a href="#">Dlaczego MovieRental?</a></li>
                <li><a href="#">O autorze</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="west">
            <main>
                <article>
                    <header>
                        <h1>Nietykalni</h1>
                        <p>3.01.2019 | 20:15 | Adam Smith</p>
                    </header>
                    <h2>Fabuła</h2>
                    <p>Paryż nocą. Driss prowadzi luksusowe Maserati Philippe’a z dużą prędkością. Są ścigani przez policję. Driss twierdzi, że sparaliżowany Philippe musi być pilnie przewieziony do szpitala;
                    Philippe udaje, że ma udar mózgu. Zwiedzeni funkcjonariusze eskortują ich do szpitala.</p>

                    <p>Historia przyjaźni dwóch mężczyzn od tego momentu opowiedziana jest w formie retrospekcji:
                    Philippe, dotknięty porażeniem czterokończynowym bogaty arystokrata z Paryża i jego asystentka, Magalie,
                    przeprowadzają rozmowy kwalifikacyjne w poszukiwaniu kandydata na stanowisko samodzielnego, całodobowego opiekuna dla Philippe’a.
                    Drissowi, jednemu z kandydatów, nie zależy jednak na pracy, a na podpisie sparaliżowanego milionera, dzięki czemu ciągle będzie mógł pobierać zasiłek.
                    Po krótkiej, bezpośredniej rozmowie otrzymuje informacje, że podpisany dokument będzie do odbioru następnego ranka.</p>

                    <img src="../../media/img/nietykalni.jpg" alt="Nietykalni" style="width:750px">

                    <p>Gdy wraca do posiadłości następnego dnia, dowiaduje się, że został przyjęty na okres próbny na stanowisko opiekuna.
                    Driss uczy się, do jakiego stopnia niepełnosprawny jest Philippe i zaczyna towarzyszyć mu w codziennym życiu.
                    Wkrótce na jaw wychodzi kryminalna przeszłość Drissa, jednak Philippe twierdzi, że nie obchodzi go przeszłość mężczyzny, bo,
                    jako jedyny, nie patrzy na niego przez pryzmat litości, co więcej, odmawia zwolnienia Drissa, chyba że ten przestanie należycie wykonywać swoją pracę.</p>

                    <p>Philippe zwierza się Drissowi, w jaki sposób stał się kaleką. Opowiada mu historię wypadku na paralotni, mówi także o śmierci żony,
                    którą bardzo kochał i o tym, że nigdy nie udało im się mieć dzieci. Stopniowo Driss pomaga Philippe’owi uporządkować życie prywatne,
                    a szczególnie relację z adoptowaną córką, Elisą. Dzięki Phillipe’owi Driss odkrywa sztukę nowoczesną, operę, a nawet zaczyna malować.</p>

                    Wkrótce Driss dowiaduje się o czysto epistolarnym związku Philippe’a z kobietą o imieniu Eleonore, która mieszka w Dunkierce;
                    zachęca Philippe’a do zaaranżowania spotkania z kobietą, jednak Philippe obawia się jej reakcji na jego niepełnosprawność.
                    Ostatecznie Drissowi udaje się przekonać Philippe’a do rozmowy telefonicznej z Eleonore. Jakiś czas później Philippe zaprasza
                    Drissa na wspólną wycieczkę jego prywatnym odrzutowcem. Jak się okazuje, jest to weekend na paralotni.</p>

                    <p>Adama, młodszy kuzyn Drissa, który ma problemy z gangiem, nachodzi Drissa w posiadłości Philippe’a pod pretekstem dostarczenia poczty.
                    Podsłuchując, Philippe zauważa w swoim opiekunie i przyjacielu potrzebę wsparcia rodziny i zwalnia go z dotychczasowych obowiązków.
                    Sugeruje, że Driss może nie chcieć pchać wózka inwalidzkiego przez całe swoje życie.</p>

                    <p>Driss wraca do swojego starego życia, przyjaciół i udaje mu się pomóc młodszemu kuzynowi. W międzyczasie Philippe zatrudnił wielu opiekunów,
                    jednak żaden z nich nie jest w stanie zastąpić mu Drissa. Traci ducha walki i przestaje dbać o siebie. Zmartwiona Yvonne, jego bliska współpracownica,
                    kontaktuje się z Drissem, który odwiedza Philippe’a i decyduje się wziąć go na przejażdżkę jego samochodem marki Maserati.
                    W tym momencie historia przenosi nas z powrotem do pierwszej sceny filmu i pościgu policji. Po zgubieniu radiowozów, Driss zabiera Philippe’a nad morze.
                    Po starannym ogoleniu go i ubraniu go w elegancki strój, docierają do Cabourg (francuska gmina w regionie Południowej Normandii).
                    Wybierają się do restauracji ze wspaniałym widokiem na ocean. Nagle, Driss opuszcza stolik i życzy Philippe’owi szczęścia podczas jego lunchu,
                    jak się okazuje, randki. Kilka sekund później przybywa Eleonore. Zaskoczony Philippe spogląda przez okno i widzi uśmiechającego się do niego Drissa.
                    Żegnają się bez słów, po czym Driss odchodzi.</p>

                    <p>Fabuła oparta jest na autentycznej historii. Pierwowzorem, postaci Philippe'a, jest Philippe Pozzo di Borgo, a Drissa – Abdel Yasmin Sellou.
                    Pozzo uległ wypadkowi w 1993 r., a rok później do pracy przyjął Sellou. Po fali upałów w 2003 roku Pozzo przeniósł się do Maroka,
                    do portowego miasta As-Sawira.</p><br><br>

                    <img src="../../media/img/omar.jpg" alt="Omar" style="width:750px">

                    <h2>Odbiór i krytyka filmu</h2>
                    <p>Film uzyskał wynik 75% i został „uznany za świeży” (eng. „certified fresh”) w rankingu popularnego internetowego serwisu Rotten Tomatoes,
                    który zamieszcza podstawowe informacje o filmach oraz dotyczące ich opinie uznanych krytyków. Nietykalni otrzymali 89 recenzji pochlebnych z
                    wszystkich 118 i średnią ocenę 6,7/10. Serwis Metacritic przyznał mu 57 na 100 punktów, w oparciu o 31 rankingów profesjonalnych krytyków.</p>

                    <p>Film spotkał się z bardzo dobrym przyjęciem w Wielkiej Brytanii, krytycy chwalili zarówno występ aktorów pierwszoplanowych,
                    jak i niezwykły sposób ukazania niepełnosprawności w filmie.</p>

                    <p>Tadeusz Sobolewski z "Gazety Wyborczej" stwierdził, że wykonanie jest perfekcyjne, a film posiada świetną obsadę pierwszego i drugiego planu.
                    Jego zdaniem w "Nietykalnych" śmiejemy się cały czas i ten śmiech nie tłumi współczucia. Barbara Hollender pisała w "Rzeczpospolitej"
                    o komedii pełnej zabawnych sytuacji i błyskotliwych dialogów, która jest peanem na cześć życia, prostych przyjemności, życzliwości.</p>

                    <p>Film otrzymał 11 nagród i 31 nominacji. Zdobył Tokyo Sakura Grand Prix w kategorii Najlepszy Film na Międzynarodowym Festiwalu Filmowym w
                    Tokio oraz nagrodę dla Najlepszego Aktora w 2011 dla obydwu: Francois Cluzeta i Omara Sy. Na rozdaniu Cezarów w 2012 r., film otrzymał 8 nominacji.
                    Omar Sy został nagrodzony Cezarem w kategorii Najlepszy Aktor za rolę Drissa (pokonując tym samym Jeana Dujardina, nominowanego za Artystę),
                    stając się pierwszym nagrodzonym pochodzenia francusko-afrykańskiego.</p>

                    <p>We wrześniu 2012 ogłoszono, że Nietykalni zostali wybrani jako francuski kandydat do Oscara, prestiżowej corocznej nagrody przyznawanej
                    przez Amerykańską Akademię Sztuki i Wiedzy Filmowej w dziedzinie filmu, w kategorii Najlepszy Film Nieanglojęzyczny.
                    Produkcja przeszła przez pierwszy etap kwalifikacji, została jednak odrzucona w drugim etapie, nie będąc wybraną do najlepszej 5 nominowanych do nagrody.</p>

                    <p>Film nominowany był także do: Złotych Globów 2013 w kategorii Najlepszy Film Zagraniczny, BAFTA 2013 w kategorii Najlepszy Film Nieanglojęzyczny,
                    Orłów 2013 w kategorii Najlepszy Film Europejski.</p>

                    <section>
                        <header>
                            <h1>Komentarze czytelników</h1>
                            <p>Przemyślenie? Refleksje? Podziel się swoją interpretacją filmu. Zachęcam do dyskusji w komentarzach poniżej,
                            jednocześnie prosząc o zachowanie netykiety oraz kultury wypowiedzi.</p>
                        </header>
                        <article>
                            <header>
                                <img src="../../media/img/user.jpg" alt="user">
                                <p>John Doe | 3.01.2019 | 20:30</p>
                            </header>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, nihil expedita voluptates minus a.
                            Eligendi doloremque, tempora velit sequi aliquid placeat hic, explicabo fugiat possimus ratione inventore laudantium mollitia quod.</p>
                        </article>
                        <article>
                            <header>
                                <img src="../../media/img/user.jpg" alt="user">
                                <p>Jane Graves | 3.01.2019 | 20:28</p>
                            </header>
                            <p>Non, consequuntur quam corrupti repudiandae ut numquam suscipit ab quidem laudantium nesciunt tenetur necessitatibus maiores dignissimos
                            facilis nam soluta molestias, quibusdam animi!</p>
                        </article>
                    </section>
                </article>
            </main>
        </div>
        <div class="east">
            <aside>
                <nav>
                    <h2>Kategorie</h2>
                    <ul>
                        <li>Akcja</li>
                        <li>Kryminalny</li>
                        <li>Fabularny</li>
                        <li>Komedia</li>
                        <li>Horror</li>
                        <li>Przygodowy</li>
                    </ul>
                    <h2>Podobne w tej kategorii</h2>
                    <ul>
                        <li>Forrest Gump</li>
                        <li>Kac Vegas</li>
                        <li>Truman Show</li>
                        <li>Życie jest piękne</li>
                        <li>Powrót do przyszłości</li>
                        <li>Maska</li>
                    </ul>
                    <h2>Archiwum</h2>
                    <ul>
                        <li>Styczeń(8)</li>
                        <li>Luty(5)</li>
                        <li>Marzec(2)</li>
                        <li>Kwiecień(12)</li>
                        <li>Maj(10)</li>
                        <li>Czerwiec(11)</li>
                        <li>Lipiec(6)</li>
                        <li>Sierpień(8)</li>
                        <li>Wrzesień(9)</li>
                        <li>Październik(4)</li>
                        <li>Listopad(5)</li>
                        <li>Grudzień(6)</li>
                    </ul>
                </nav>
                <img src="../../media/img/ad.jpg" alt="reklama">
            </aside>
        </div>
        <div style="clear:both"></div>
    </div>
    <footer>
        <div class="socials">
            <div class="socialdivs">
                <div class="fb">
                    <i class="icon-facebook"></i>
                </div>
                <div class="yt">
                    <i class="icon-youtube"></i>
                </div>
                <div class="tw">
                    <i class="icon-twitter"></i>
                </div>
                <div class="gplus">
                    <i class="icon-gplus"></i>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="info">
            Wszelkie prawa zastrzeżone &copy 2018
        </div>
    </footer>
</body>

</html>
